*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: red;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
main{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
}
@keyframes example {
    0% {background-color: #1abc9c;}
    10% {background-color: #16a085;}
    20% {background-color:#2ecc71;}
    30% {background-color: #1abc9c;}
    40% {background-color: #f1c40f;}
    50% {background-color: #c0392b;}
    60% {background-color: #e67e22;}
    70% {background-color: #2c3e50;}
    80% {background-color: #2980b9;}
    90% {background-color: #f39c12;}
    100% {background-color: #9b59b6;}
}
a{
  background-color: #ecf0f1;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 50px;
  color:black;
  text-decoration: none;


}
